.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
    /* transform: translate(0, -50%); */
}

.spin {
    height: 20%;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin2 {
    position: absolute;
    height: 50%;
    animation: spin2 4s linear infinite;
}

@keyframes spin2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}