.faq_div {
    width: 75%;
    height: auto;
    background-color: #f4d4d8;
    margin: 20px 13%;
    border-radius: 20px;
    padding: 20px 10px;

}

.main-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 87%;
    height: 90px;
    margin: 0 auto 8px auto;
    border-radius: 20px;
    background-color: white;
    border-bottom: 5px solid #343663;
}

.main-heading .FQA_icon {
    margin-left: 10px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 10px;
    border: 2px solid #232754;
    border-radius: 50%;
    color: #343663;
}

.main-heading .questions {
    margin-left: 10px;
    color: #232754;
    font-size: 14px;
    padding-right: 8px;
}

.answers {
    width: 80%;
    padding: 20px 20px;
    margin: 3% 10%;
    font-size: 12px;
    border-radius: 20px;
    color: #f4d4d8;
    background-color: #343663;
}