/* .SideBar a {
    text-decoration: none;
    margin: 10px 0;
    color: rgba(256, 256, 256, 0.8);
    font-weight: 400;
  }

  .SideBar a:hover {
    font-weight: 600;
    color: #ffffff;
  }

.SideBar h1 {
  margin-bottom: 20px;
  margin-top: 80px;
  font-weight: 800;
  font-size: 1.5rem;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
/* .QueryContainer::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .QueryContainer{
  -ms-overflow-style: none; 
  scrollbar-width: none;  
  scroll-behavior: smooth;
} */
/* 
.QueryContainer h1 {
  font-size: 2rem;
  padding-bottom: 15px;
  padding-top: 80px;
  font-weight: 800;
}

.Query h2 {
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.Query p {
  padding-left:15px;
  padding-bottom: 10px;
  font-weight: 400;
}

.Query p a {
  text-decoration: underline;
  color: #F7CA17;
}

@media only screen and (max-width: 600px){
  .SideBar {
    display: none;
  }
  .QueryContainer{
    width: 100%;
    padding: 20px;
  }
  
} */