@media screen and (min-width: 992px) {
    .section {
        width: 95vw;
    }
}

.title{
    background-color: black;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.kala{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  justify-content: center;   
}
.sponsors{
    display: grid;
    grid-column: 2;
    grid-row: 2;

}


.sss,.row{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
}

.sponscont{
  background: rgb(14, 14, 14);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  --bs-gutter-x: 0 !important;
  font-weight: 800;
}
 .sponscont .current {
    text-transform: uppercase;
  }
  .sponscont h2 {
    text-align: center;
    margin: 2rem 0;
    font-weight: 900;
  }
  .sponscont > .c {
    display: flex;
    justify-content: center;
  }


.sponsitem{
  background-color: white;
  max-width:300px;
  min-width: 200px;
  width: 300px; 
  color: black;
  margin: 1rem;
  padding: 0;
  border-radius: 10px;
  /* font-family: "Source Sans Pro", sans-serif; */
  /* font-weight: 800; */
  font-size: larger; 
}
.sponsitem .title-sponsor {
    color: black;
    text-decoration: none;
}
.sponsitem .title-sponsor:hover {
      color: var(--c);
}
  
.sponsitem > .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    overflow: hidden;
}
.sponsitem > .image-container > img {
      max-width: 250px;
      min-width: 150px;
      width: 100%;
      height:200px;
      object-fit: contain;
      transition: 1s;
}
.sponsitem > .image-container > img:hover {
  transform: scale(1.1);
}

.sponsitem  > .text-container > hr {
    margin: 0;
}
.sponsitem  > .text-container> .container-fluid {
  text-align: center;
  padding: 10px 0;
}
.sponsitem  > .text-container> .container-fluid p {
  margin-bottom: 0;
}
.current{
  width: 100%;
}