/* ANIMATION */
:root {
	--mar: 10px;
	--imsz: 264px;
	/* --circle: radial-gradient(transparent 10%, rgba(0, 0, 0) 30vh) ; */
	background-color: #232754;
}

@keyframes scrollYf {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(calc(-50% - var(--mar) / 2));
	}
}

@keyframes scrollYb {
	from {
		transform: translateY(calc(-50% - var(--mar) / 2));
	}

	to {
		transform: translateY(0%);
	}
}

.heroi {
	margin-top: 5rem;
}

.image-wrapper,
.image-wrapper>img {
	margin-top: var(--mar);
	margin-bottom: var(--mar);
	width: var(--imsz);
	height: var(--imsz);
}

.hero {
	padding-left: var(--mar);
}

.marquee-forward {
	animation: scrollYf 15s linear infinite;
}

.marquee-backward {
	animation: scrollYb 15s linear infinite;
}

.spotlight {
	background: var(--circle);
	transition: --circle 2s;
	/* background-color: #4158D0; */
	/* background-image: ; */
}

.eat {
	position: absolute;
	width: 100vw;
	height: 10vh;
	bottom: 0px;
	background: linear-gradient(to bottom, transparent 0%, #283994 100%);
}

.heading1 {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	z-index: 1;
	padding: 1rem;
	transform: translate(-50%, -50%);
}

.heading1 .i2 {
	transform: translate(-50%, -50%);
}

.heading1 img {
	min-width: 320px;
	max-width: 768px;
	width: 100%;
	height: auto;
	display: inline-block;
}

.heading1 .i1 {
	min-width: 75px;
	max-width: 235px;
	width: 50%;
	height: auto;
	display: inline-block;
}

.spree-title img {
	min-width: 100px;
	max-width: 320px;
	width: 100%;
	height: auto;
	display: inline-block;
}

.main {
	width: 100%;
}

@keyframes ripple {
	0% {
		opacity: .25;
	}

	100% {
		border-radius: 2em;
		opacity: 0;
		transform: scale(2.5);
	}
}

.btn35 {
	position: relative;
	outline: none;
	text-decoration: none;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-transform: uppercase;
	width: 150px;
	height: 45px;
	font-weight: 800;
	opacity: 1;
	background-color: transparent;
	border: 1.5px solid #f4d4d8;
	margin-top: 20px;
	font-size: 16px;
}

.btn35 span {
	color: #f4d4d8;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1.9px;
}

.btn35:hover:before {
	animation: ripple 2s ease-out infinite;
	border: solid 2px #f4d4d8;
	border-radius: 1em;
	bottom: 0;
	box-sizing: border-box;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.btn35:hover:after {
	animation: ripple 2s 1s ease-out infinite;
	border: solid 2px #f4d4d8;
	border-radius: 1em;
	bottom: 0;
	box-sizing: border-box;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	animation-delay: 1s;
}

.btn35:hover {
	-webkit-box-shadow: 0 0 30px #f4d4d8;
	box-shadow: 0 0 30px #f4d4d8;
}

.btn35:hover span {
	/* animation: ripple 0.7s ease-in-out both; */
	animation-delay: 0.06s;
}



/* @keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
} */
.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #F7CA17;
	color: #FFF;
	border-radius: 50px;
	border: 1px solid black;
	text-align: center;
	z-index: 1000;
	animation: bot-to-top 2s ease-out;
}

button.float img {
	margin-top: 4px;
	margin-left: 10px;
	animation: rotate-in 2s;
	height: 35px;
}

button.float:hover>img {
	animation: rotate-out 0.5s;
}

@keyframes bot-to-top {
	0% {
		bottom: -60px;
	}

	50% {
		bottom: 40px;
	}
}

@keyframes scale-in {
	from {
		transform: scale(0);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes rotate-in {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes rotate-out {
	from {
		transform: rotate(360deg);
	}

	to {
		transform: rotate(0deg);
	}
}

.mystyle1 {
	display: none;
}

.mystyle2 {
	display: none;
}