.item2 {
	color: #252b37;
	background-color: #151823;
	animation: bgColor 5s ease infinite;
}

.boxx {
	border: 8px solid #f4d4d8;
	border-radius: 15px;
	background: #2f2e5c;
	margin: 10px;
	min-width: 290px;
}

.decor {
	position: absolute;
	z-index: 1;
	right: 40%;
	top: 0%;
	width: 60%;
}

h1 {
	font-family: "Aftersick";
}