.dm-container {
  height: 100vh;
  background-color: #23232b;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
}

.dm-menu {
  display: grid;
  grid-template-rows: 40px max-content;
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.dm-toggle {
  all: unset;
  background-color: #F9C512;
  color: white;
  /* width: 100%; */
  padding: 10px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}


.dm-list {
  background-color: white;
  color: #444;
  list-style: none;
  display: grid;
  /* grid-template-rows: repeat(3, 50px); */
  border-radius: 5px;
  overflow: hidden;
  height: 0;
  transition: 0.4s;
  width: 100%;
}

.dm-list-item {
  min-height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: height 0.4s;
  user-select: none;
  cursor: pointer;
  width: 100%;
}

.dm-list-item:hover {
  background-color: #F9C512;
  color: #fff;
}

.dm-open {
  transform: translateX(0);
  height: 100%;
}

.rotate {
  transform-origin: 0px 45%;
  rotate: 180deg x;
}

i {
  transition: 0.4s;
}