.overlay{
    /* background-image: radial-gradient(circle, rgba(2,0,36,0) 10%, rgba(1,0,20,0) 30%, rgba(0,0,0,1) 70%); */
    background-image: radial-gradient(circle, rgba(42,57,184,0) 30%, rgba(41,57,168,0) 50%, rgba(40,57,148,1) 70%);

    background-position: 100% 100%;
}

.eat2 {
    position: relative;
    width: 100vw;
    height: 10vh;
    bottom: 0px;
    background: linear-gradient(to bottom, #283994 0%, #232754 100%);
    z-index: -1;
  }

h1{
	font-family: "Aftersick";
}