* {
  box-sizing: border-box;
}

.d-card {
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
}


.details::-webkit-scrollbar {
  display: none;
}


.d-img-container {
  padding: 2rem;
  margin-top: 1rem;
  min-width: 50%;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.d-card-img {
  position: relative;
  width: 100%;
  min-width: 250px;
  max-width: 500px;
  border-radius: 2px;
  transform: rotateX(0) rotateY(0);
  transform-style: preserve-3d;
  transition-duration: 0.1s;
  transition-timing-function: ease !important;
  backface-visibility: hidden;
  will-change: tranform;
}

.d-card-img.is-out {
  transform: rotateX(0) rotateY(0) !important;
  transition-duration: 1s;
}

.outer {
  height: calc(100% - 80px);
  /* min-height: 100%; */
  /* height: 200vh; */
  /* height: auto; */
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  /* overflow: scroll; */
  position: absolute;
}

.prize-money ul li::before {
  content: '🏆 '
}

.event-managers ul li:before {
  content: '🤵‍♂️ ';
}

.outer::-webkit-scrollbar {
  display: none;
}

.swipe {
  position: absolute;
  height: 100%;
  left: 0px;
  transition: all 0.4s;
  display: flex;
}

.d-card-outer {
  width: 100vw;
  /* height: 100%; */

  display: inline-block;
}

@media (max-width: 768px) {
  .d-card {
    flex-direction: column;
    height: unset;
  }

  .d-card-outer {
    overflow: scroll;
  }

  .details {
    height: max-content;
    overflow: unset;
  }

  .outer::-webkit-scrollbar {
    display: initial;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

.details {
  overflow-y: scroll;
}

hr {
  color: #f7ca17;
}