:root {
	--img-width: 5vw;
}


.active {
	background-color: #ca85b8;
	color: #232754;
}


nav {
	display: flex;
	width: 96%;
	justify-content: space-between;
	align-items: center;
	align-self: center;
	color: white;
	position: fixed;
	z-index: 999;

	margin-right: 2%;
	margin-left: 2%;
}

nav .title {
	font-size: 1.5rem;
	margin: 1rem;
	font-weight: bold;
	text-decoration: none;
	color: white;
	background-color: transparent;
	align-items: center;
	flex: 1;
}

/* Reg button */
nav .reg-login {
	flex: 1;
}

nav .reg-login a {
	background-color: #f4d4d8;
	color: #232754;
	border-radius: 5rem;
}

nav .reg-login a:not(.active):hover {
	background-color: #ca85b8;
	color: white;
}

/* --------------------------- */

nav ul {
	display: flex;
	flex: 1;
	justify-content: flex-start;
}

nav ul li {
	list-style: none;
	background: linear-gradient(to right, #f4d4d8, #ca85b8);
	-webkit-background-clip: text;
	color: transparent;
}

nav ul li a {
	display: block;
	font-weight: 1000;
	font-family: "Aftersick", sans-serif;
	font-size: 105%;
	padding: 0.5rem;
	margin: 0 0.3rem;
	border-radius: 0.5rem;
	white-space: nowrap;
	/* prevents from overflowing into two lines */
	transition: text-shadow 0.3s ease;
}

/* Log out button */
nav ul li button {
	display: block;
	text-decoration: none;
	color: rgb(0, 0, 0);
	padding: 0.5rem;
	margin: 0 0.5rem;
	border-radius: 0.5rem;
	white-space: nowrap;
	background-color: #0051ff;
}

nav img {
	width: var(--img-width);
	margin: 0.5rem 0 0 0.5rem;

}

/* prevents active link to be clicked again */
nav ul li a:not(.active):hover {
	background-color: #2f2e5c;
	color: #f1f2f2;
	border-radius: 5rem;
	animation: glow-animation 1s infinite alternate;
}

@keyframes glow-animation {
	0% {
		box-shadow: 0 0 30px #ca85b8;
	}

	100% {
		box-shadow: 0 0 100px #ca85b8;
	}
}


nav .menu {
	display: none;
	position: absolute;
	justify-content: flex-end;
	top: 0.75rem;
	right: 0.5rem;
	flex-direction: column;
	justify-content: space-between;
	width: 2.25rem;
	height: 2rem;
	flex: 0;
}

.cross {
	position: absolute;
	cursor: pointer;
	color: white;
	height: 2rem;
	width: 2rem;
}

.ham {
	height: 0.4rem;
	width: 100%;
	background-color: white;
	border-radius: 0.2rem;
}


/* To stop logo from shrinking  */
@media (max-width: 1150px) {
	nav img {
		width: calc(var(--img-width) + 1vw);
	}
}

@media (max-width: 900px) {
	nav img {
		width: calc(var(--img-width) + 2vw);
	}
}

/* ------------------------------ */


/* making it responsive */
@media (max-width: 725px) {
	nav .menu {
		display: flex;
	}

	nav img {
		width: calc(var(--img-width) + 3vw);
	}

	nav {
		flex-direction: column;
		align-items: flex-start;
		/* position: sticky; */
		background-color: #000000;
	}

	nav ul {
		display: none;
		/*comment this to edit folded view*/
		flex-direction: column;
		width: 100%;
		margin-bottom: 0.25rem;
	}

	nav ul.open {
		display: flex;
	}

	nav ul li {
		width: 100%;
		text-align: center;
	}

	nav ul li a {
		margin: 0.2rem 0.5rem;
	}
}

/* ------------- Drop-Down ----------------- */

.dropdown-menu {
	background-color: #f9f9f9;
	z-index: 1;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: transparent;
	z-index: 1;
}

.dropdown-menu .a:hover {
	background-color: #f9f9f9;
}

.dropdown-menu:hover .dropdown-content {
	display: block;
}