.pro_show_card_container {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(4px);
    width: 500px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    overflow: hidden;
    transition: 0.5s;
    min-width: 250px;
}

.pro_show_card_container:hover {
    justify-content: center;
    height: 450px;
}

.pro_show_card_container:hover .pro_show_img {
    width: 90%;
    height: 90%;
    padding-top: 10px;
}

.pro_show_img {
    width: auto;
    height: 90%;
    border-radius: 20px;
    transition: 0.5s;
}

.pro_show_img img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.pro_show_content {
    padding: 10px 20px;
    position: relative;
    top: 0%;
}

.pro_show_card_container:hover .pro_show_content {
    opacity: 1;
    top: 0;
    visibility: visible;
}

.pro_show_content .pro_show_title {
    font-size: 30px;
    color: #f4d4d8;
    font-family: "Aftersick", 'sans-serif';
}

.pro_show_content .pro_show_desc {
    font-size: 15px;
    padding-left: 20px;
    color: #f4d4d8;
    opacity: 0;
    visibility: hidden;
    font-family: 'Futura', 'sans-serif';
}

.pro_show_card_container:hover .pro_show_content .pro_show_desc {
    opacity: 1;
    visibility: visible;
}

.pro_show_page_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pro_show_page_card_container {
    margin-top: 10px;
}

.Day-text {
    font-size: 40px;
    font-family: "Aftersick", 'sans-serif';
}

@media (min-width:726px) and (max-width:1024px) {

    .pro_show_page_card_container:nth-child(1) {
        margin-top: 15%;
    }

    .pro_show_page_card_container:nth-child(2) {
        margin-bottom: 10%;
    }

}

@media (min-width:320px) and (max-width:726px) {

    .pro_show_page_card_container:nth-child(1) {
        margin-top: 25%;
    }

    .pro_show_page_card_container:nth-child(2) {
        margin-bottom: 10%;
    }

}

@media (min-width:450px) and (max-width:600px) {
    .pro_show_card_container {
        width: 400px;
        height: 350px;
    }

    .pro_show_card_container:hover {
        justify-content: center;
        height: 450px;
    }


}

@media (min-width:350px) and (max-width:450px) {
    .pro_show_card_container {
        width: 340px;
        height: 250px;
    }

    .pro_show_content .pro_show_title {
        font-size: 20px;
    }

    .pro_show_content .pro_show_desc {
        font-size: 14px;
    }

    .pro_show_card_container:hover {
        justify-content: center;
        height: 350px;
    }

    .Day-text {
        font-size: 32px;
    }

}

@media (min-width:320px) and (max-width:350px) {
    .pro_show_card_container {
        width: 250px;
        height: 220px;
    }

    .pro_show_content .pro_show_title {
        font-size: 16px;
    }

    .pro_show_content .pro_show_desc {
        font-size: 12px;
    }

    .pro_show_card_container:hover {
        justify-content: center;
        height: 350px;
    }

    .Day-text {
        font-size: 28px;
    }
}

@media (min-width:280px) and (max-width:320px) {
    .pro_show_page_container {
        display: flex;
        flex-direction: column;
    }

    .pro_show_card_container {
        width: 220px;
        height: 180px;
    }

    .pro_show_content .pro_show_title {
        font-size: 14px;
    }

    .pro_show_content .pro_show_desc {
        font-size: 10px;
    }

    .pro_show_card_container:hover {
        justify-content: center;
        height: 250px;
    }

    .Day-text {
        font-size: 26px;
    }
}

.bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; /* Ensure the image is behind all content */
    opacity: 0.2; /* Adjust the opacity as needed */
  }